@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://drafts.csswg.org/css-inline-3/#leading-trim');
:root {
    --neutralswhite: rgba(255, 255, 255, 1);
    --neutrals-02: rgba(32, 32, 37, 1);
    --neutrals-04: rgba(119, 121, 123, 1);
    --neutrals-03: rgba(85, 85, 85, 1);
    --neutrals-07: rgba(241, 244, 244, 1);
    --neutrals06-linhas: rgba(220, 220, 220, 1);
    --is-txt-med-semi-font-family: "Red Hat Text", Helvetica;
    --is-txt-med-semi-font-weight: 500;
    --is-txt-med-semi-font-size: 12px;
    --is-txt-med-semi-letter-spacing: 0px;
    --is-txt-med-semi-line-height: 100%;
    --is-txt-med-semi-font-style: normal;
    --is-h3-font-family: "Red Hat Display", Helvetica;
    --is-h3-font-weight: 400;
    --is-h3-font-size: 14px;
    --is-h3-letter-spacing: 0px;
    --is-h3-line-height: normal;
    --is-h3-font-style: normal;
    --themes-primary: rgba(126, 217, 87, 1);
    --themes-background: rgba(241, 244, 244, 1);
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}



#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #202025;
    height: 122.3vh;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    padding: 14px;
    padding-top: 70px;
    cursor: pointer;
}


.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4e4e4e;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #585858;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #6b6b6b;
}

#open_btn {
    position: absolute;
    top: 20px;
    background-color: #000000;
    color: #14a800;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

.main-content {
    background-color: #6b6b6b;
    flex-grow: 1;
}

.topnav {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.topnav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.topnav-menu li {
    margin-left: 100rem;
}

.topnav-menu li:last-child {
    margin: auto 20px;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-navbar {
box-sizing: border-box;
padding: 8px 16px;
gap: 10px;
width: 123px;
height: 36px;
background: #D0F4EA;
border: 1px solid #D0F4EA;
border-radius: 26px;
}

.btn-navbar a {
width: 91px;
height: 12px;
align-items: center;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
color: #202025;
flex: none;
order: 0;
flex-grow: 0;
}

.icon a {
  color: #dcdcdc;
}


main {
    width: 100%;
    height: 92.8%;
    background-color: #F1F4F4;
}

.frame-parent  {
    width: 80%;
}
.image-4-icon {
    width: 375px;
    position: relative;
    height: 236px;
    object-fit: cover;
}
.group-child {
    position: absolute;
    top: 0px;
    left: calc(50% - 51.5px);
    border-radius: 50%;
    background-color: #202025;
    width: 103px;
    height: 103px;
}
.image-5-icon {
    position: absolute;
    top: 13px;
    left: 30px;
    width: 43px;
    height: 76px;
    object-fit: cover;
}
.ellipse-parent {
    width: 103px;
    position: relative;
    height: 103px;
}
.informaes-gerais {
    position: relative;
    line-height: 160%;
    font-weight: 500;
}
.stylus-icon {
    width: 20px;
    position: relative;
    height: 20px;
}
.informaes-gerais-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.frame-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frame-child {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #dcdcdc;
    box-sizing: border-box;
    height: 1px;
}
.tat-sushi- {
    font-weight: 600;
}
.tat-sushi-container {
    position: relative;
    line-height: 160%;
}
.tat-sushi-tat-sushi-alimen-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}
.frame-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.image-4-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 82px;
}
.categorias {
    position: relative;
    line-height: 160%;
    font-weight: 600;
}
.ateno-as-categorias {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    line-height: 160%;
    color: #77797b;
}
.categorias-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}
.arrow-drop-down-icon {
    width: 24px;
    position: relative;
    height: 24px;
}
.leite-c-parent {
    flex: 1;
    border-radius: 4px;
    background-color: #f1f4f4;
    height: 49px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 19px 16px;
    box-sizing: border-box;
}
.frame-wrapper1 {
    width: 246px;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #555;
}
.text-12 {
    position: relative;
    line-height: 100%;
    font-weight: 500;
}
.text-12-wrapper {
    align-self: stretch;
    border-radius: 26px;
    background-color: #d0f4ea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}
.frame-wrapper3 {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frame-wrapper2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 12px;
}
.line-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
}
.frame-wrapper6 {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 12px;
}
.frame-parent5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent4 {
    width: 323px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
}
.text-8 {
    position: relative;
}
.stylus-parent {
    border-radius: 100px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    height: 36px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    font-size: 14px;
    font-family: 'Red Hat Display';
}
.text-12-wrapper3 {
    align-self: stretch;
    border-radius: 26px;
    background-color: #f1f4f4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}
.frame-parent8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-align: center;
    font-size: 12px;
}
.frame-div {
    width: 592px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.descrio-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.o-tat-sushi {
    flex: 1;
    position: relative;
    line-height: 160%;
}
.o-tat-sushi-comandado-pelos-wrapper {
    align-self: stretch;
    flex: 1;
    border-radius: 4px;
    background-color: #f1f4f4;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 24px;
}
.frame-wrapper11 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: #555;
}
.frame-parent10 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.stylus-container {
    border-radius: 100px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    height: 36px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    font-size: 14px;
    color: #202025;
    font-family: 'Red Hat Display';
}
.segunda-sexta-das-11h00-at-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.frame-parent12 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    font-size: 12px;
    color: #555;
    font-family: Inter;
}
.frame-parent9 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
}
.frame-parent {
    width: 100%;
    position: relative;
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 24px 48px;
    box-sizing: border-box;
    gap: 48px;
    text-align: left;
    font-size: 16px;
    color: #202025;
    font-family: 'Red Hat Text';
}


.frame-child2 {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #dcdcdc;
    box-sizing: border-box;
    height: 1px;
}
.nome-da-restaurante {
    position: relative;
    line-height: 160%;
    font-weight: 500;
}
.nome-da-restaurante-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.tat-sushi-alimentos {
    position: relative;
    line-height: 160%;
}
.tat-sushi-alimentos-ltda-wrapper {
    flex: 1;
    border-radius: 4px;
    background-color: #f1f4f4;
    height: 49px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 19px 16px;
    box-sizing: border-box;
}
.frame-wrapper13 {
    align-self: stretch;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #555;
}
.frame-parent14 {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-wrapper14 {
    align-self: stretch;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frame-parent15 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.endereo {
    position: relative;
    font-size: 20px;
    line-height: 160%;
    font-family: 'Red Hat Display';
}
.frame-wrapper15 {
    width: 162px;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.rua {
    align-self: stretch;
    position: relative;
    line-height: 160%;
    font-weight: 500;
}
.frame-wrapper16 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-parent18 {
    width: 334px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent19 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent17 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.text-83 {
    position: relative;
}
.text-8-wrapper {
    flex: 1;
    border-radius: 9px;
    border: 1px solid #7ed957;
    box-sizing: border-box;
    height: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
}
.text-8-container {
    flex: 1;
    border-radius: 9px;
    background-color: #7ed957;
    height: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    box-sizing: border-box;
    cursor: pointer;
}
.frame-parent23 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 14px;
    font-family: 'Red Hat Display';
}
.frame-parent13 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    font-size: 16px;
    font-family: 'Red Hat Text';
}
.informaes-gerais-group {
    position: absolute;
    top: calc(50% - 369px);
    left: calc(50% - 282px);
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px;
    gap: 24px;
}
.perfil-edio {
    width: 1440px;
    position: relative;
    height: 1024px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: left;
    font-size: 24px;
    color: #202025;
    font-family: 'Red Hat Display';
}

