.CONFIGURAO-DA-LOJA {
  background-color: #f1f4f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.CONFIGURAO-DA-LOJA .div {
  background-color: var(--neutrals-07);
  overflow: hidden;
  width: 100%;
  height: 950px;
  position: relative;
}

.CONFIGURAO-DA-LOJA .overlap-group {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  left: 66px;
  background-color: var(--neutrals-01);
}

.CONFIGURAO-DA-LOJA .frame {
  display: flex;
  width: 26.22px;
  height: 24.35px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  cursor: pointer;
  top: 23px;
  left: 85%;
}

@media (max-width: 1280px) {
  .CONFIGURAO-DA-LOJA .frame {
    display: flex;
    width: 26.22px;
    height: 24.35px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 23px;
    left: 80%;
  }
}

@media (max-width: 1340px) {
  .CONFIGURAO-DA-LOJA .frame {
    display: flex;
    width: 26.22px;
    height: 24.35px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 23px;
    left: 80%;
  }
}

.CONFIGURAO-DA-LOJA .alarm-bell {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.CONFIGURAO-DA-LOJA .frame-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: -3px;
  left: 14px;
}

.CONFIGURAO-DA-LOJA .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px;
  position: relative;
  flex: 0 0 auto;
  background-color: #d0f4ea;
  border-radius: 59px;
}

.CONFIGURAO-DA-LOJA .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Red Hat Display", Helvetica;
  font-weight: 500;
  color: var(--neutrals-01);
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.CONFIGURAO-DA-LOJA .frame-3 {
  display: inline-flex;
  height: 36px;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 17px;
  left: 88%;
}

@media (max-width: 1340px) {
  .CONFIGURAO-DA-LOJA .frame-3 {
    display: inline-flex;
    height: 36px;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 17px;
    left: 85%;
  }
}

@media (max-width: 1280px) {
  .CONFIGURAO-DA-LOJA .frame-3 {
    display: inline-flex;
    height: 36px;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 17px;
    left: 84%;
  }
}


.CONFIGURAO-DA-LOJA .frame-4 {
  background-color: #d0f4ea;
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  cursor: pointer;
  flex: 0 0 auto;
  border-radius: 26px;
}

.CONFIGURAO-DA-LOJA .text {
  position: relative;
  width: fit-content;
  font-family: "Red Hat Text", Helvetica;
  font-weight: 400;
  color: var(--neutrals-02);
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.CONFIGURAO-DA-LOJA .span {
  font-family: var(--is-txt-med-reg-font-family);
  font-weight: var(--is-txt-med-reg-font-weight);
  color: #202025;
  font-size: var(--is-txt-med-reg-font-size);
  letter-spacing: var(--is-txt-med-reg-letter-spacing);
  font-style: var(--is-txt-med-reg-font-style);
  line-height: var(--is-txt-med-reg-line-height);
}

.CONFIGURAO-DA-LOJA .text-wrapper-2 {
  font-weight: var(--is-txt-med-semi-font-weight);
  font-family: var(--is-txt-med-semi-font-family);
  font-style: var(--is-txt-med-semi-font-style);
  letter-spacing: var(--is-txt-med-semi-letter-spacing);
  line-height: var(--is-txt-med-semi-line-height);
  font-size: var(--is-txt-med-semi-font-size);
}

.CONFIGURAO-DA-LOJA .keyboard-double {
  position: absolute;
  width: 24px;
  cursor: pointer;
  height: 24px;
  top: 23px;
  left: 24px;
}

.CONFIGURAO-DA-LOJA .nav-colapsado {
  position: absolute;
  width: 80px;
  height: 950px;
  left: -7px;
}

.CONFIGURAO-DA-LOJA .frame-5 {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: flex-start;
  gap: 48px;
  padding: 24px 24px 48px;
  position: absolute;
  top: 90px;
  left: 126px;
  background-color: var(--neutralswhite);
  border-radius: 16px;
  overflow: hidden;
}

.CONFIGURAO-DA-LOJA .frame-6 {
  display: flex;
  align-items: center;
  gap: 100px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
@media (max-width: 1920px) {
  .CONFIGURAO-DA-LOJA .frame-6 {
    display: flex;
    align-items: center;
    gap: 200px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
}

@media (max-width: 1440px) {
  .CONFIGURAO-DA-LOJA .frame-6 {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
}

@media (max-width: 1340px) {
  .CONFIGURAO-DA-LOJA .frame-6 {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
}

@media (max-width: 1280px) {
  .CONFIGURAO-DA-LOJA .frame-6 {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  .CONFIGURAO-DA-LOJA .group {
    position: relative;
    width: 10%;
    height: 10%;
    background-color: var(--neutrals-02);
    border-radius: 51.5px;
  }
}

.CONFIGURAO-DA-LOJA .image {
  position: relative;
  width: 375px;
  height: 236px;
}

.CONFIGURAO-DA-LOJA .group {
  position: relative;
  width: 103px;
  height: 103px;
  background-color: var(--neutrals-02);
  border-radius: 51.5px;
}

.CONFIGURAO-DA-LOJA .img {
  position: absolute;
  width: 43px;
  height: 76px;
  top: 13px;
  left: 30px;
  object-fit: cover;
}

.CONFIGURAO-DA-LOJA .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.CONFIGURAO-DA-LOJA .frame-8 {
  display: flex;
  align-items: center;
  gap: 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .frame-9 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  bottom: 20px;
  cursor: pointer;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Red Hat Text", Helvetica;
  font-weight: 500;
  color: var(--neutrals-02);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

.CONFIGURAO-DA-LOJA .stylus {
  position: relative;
  width: 20px;
  height: 20px;
}

.CONFIGURAO-DA-LOJA .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.CONFIGURAO-DA-LOJA .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .tat-sushi-tat-sushi {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Red Hat Text", Helvetica;
  font-weight: 400;
  color: var(--neutrals-02);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.CONFIGURAO-DA-LOJA .text-wrapper-4 {
  font-weight: 600;
}

.CONFIGURAO-DA-LOJA .text-wrapper-5 {
  font-family: "Red Hat Text", Helvetica;
  font-weight: 400;
  color: #202025;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.CONFIGURAO-DA-LOJA .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: "Red Hat Text", Helvetica;
  font-weight: 400;
  color: var(--neutrals-02);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.CONFIGURAO-DA-LOJA .frame-11 {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .frame-12 {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  gap: 32px;
  position: relative;
}

.CONFIGURAO-DA-LOJA .frame-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  bottom: 15px;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .line-2 {
  margin-top: -1px;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.CONFIGURAO-DA-LOJA .frame-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  bottom: 10px;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Red Hat Text", Helvetica;
  font-weight: 600;
  color: var(--neutrals-02);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.CONFIGURAO-DA-LOJA .p {
  position: relative;
  align-self: stretch;
  font-family: "Red Hat Text", Helvetica;
  font-weight: 400;
  color: var(--neutrals-04);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.4px;
}

.CONFIGURAO-DA-LOJA .frame-15 {
  display: flex;
  width: 246px;
  height: 29px;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  position: relative;
}

.CONFIGURAO-DA-LOJA .frame-16 {
  display: flex;
  height: 49px;
  align-items: center;
  justify-content: space-between;
  padding: 19px 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--neutrals-07);
  border-radius: 4px;
  bottom: 15px;
  cursor: pointer;
  overflow: hidden;
}

.CONFIGURAO-DA-LOJA .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Red Hat Text", Helvetica;
  font-weight: 400;
  color: var(--neutrals-03);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 0.6px;
  white-space: nowrap;
}

.CONFIGURAO-DA-LOJA .arrow-drop-down {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -6.5px;
  margin-bottom: -6.5px;
}

.CONFIGURAO-DA-LOJA .frame-17 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .frame-18 {
  display: inline-flex;
  height: 36px;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .frame-19 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #d0f4ea;
  border-radius: 26px;
}

.CONFIGURAO-DA-LOJA .text-2 {
  font-family: var(--is-txt-med-semi-font-family);
  font-weight: var(--is-txt-med-semi-font-weight);
  font-size: var(--is-txt-med-semi-font-size);
  text-align: center;
  line-height: var(--is-txt-med-semi-line-height);
  position: relative;
  width: fit-content;
  color: var(--neutrals-02);
  letter-spacing: var(--is-txt-med-semi-letter-spacing);
  white-space: nowrap;
  font-style: var(--is-txt-med-semi-font-style);
}

.CONFIGURAO-DA-LOJA .frame-20 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  bottom: 18px;
  flex: 0 0 auto;
}
.CONFIGURAO-DA-LOJA .line{
  bottom: 32px;
}
.CONFIGURAO-DA-LOJA .frame-21 {
  display: flex;
  flex-direction: column;
  width: 323px;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  bottom: 15px;
  position: relative;
}

.CONFIGURAO-DA-LOJA .frame-22 {
  display: inline-flex;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--neutrals06-linhas);
}

.CONFIGURAO-DA-LOJA .stylus-2 {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.CONFIGURAO-DA-LOJA .text-3 {
  margin-top: -4px;
  margin-bottom: -2px;
  font-family: var(--is-h3-font-family);
  font-weight: var(--is-h3-font-weight);
  font-size: var(--is-h3-font-size);
  line-height: var(--is-h3-line-height);
  position: relative;
  width: fit-content;
  color: var(--neutrals-02);
  letter-spacing: var(--is-h3-letter-spacing);
  white-space: nowrap;
  cursor: pointer;
  font-style: var(--is-h3-font-style);
}

.CONFIGURAO-DA-LOJA .frame-23 {
  background-color: var(--neutrals-07);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  border-radius: 26px;
}

.CONFIGURAO-DA-LOJA .frame-24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.CONFIGURAO-DA-LOJA .frame-25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Red Hat Text", Helvetica;
  font-weight: 500;
  color: var(--neutrals-02);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.CONFIGURAO-DA-LOJA .frame-26 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .frame-27 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 32px 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: var(--neutrals-07);
  border-radius: 4px;
  overflow: hidden;
}

.CONFIGURAO-DA-LOJA .text-wrapper-10 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Red Hat Text", Helvetica;
  font-weight: 400;
  color: var(--neutrals-03);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.CONFIGURAO-DA-LOJA .frame-28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.CONFIGURAO-DA-LOJA .frame-29 {
  display: inline-flex;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  left: 80%;
  top: 50px;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid;
  cursor: pointer;
  border-color: var(--neutrals06-linhas);
}

.CONFIGURAO-DA-LOJA .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--neutrals-03);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 19.2px;
  white-space: nowrap;
}

.PERFIL-EDIO {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.PERFIL-EDIO .frame-wrapper {
  width: 1340px;
  height: 980px;
}

.PERFIL-EDIO .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 32px;
  position: relative;
  top: 80px;
  left: 50px;
  background-color: var(--neutralswhite);
  border-radius: 16px;
  overflow: hidden;
}

.PERFIL-EDIO .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Red Hat Display-Bold", Helvetica;
  font-weight: 700;
  color: #202025;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 38.4px;
  white-space: nowrap;
}

.PERFIL-EDIO .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.PERFIL-EDIO .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.PERFIL-EDIO .frame-2 {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.PERFIL-EDIO .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.PERFIL-EDIO .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Red Hat Text-Medium", Helvetica;
  font-weight: 500;
  color: #202025;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.PERFIL-EDIO .frame-3 {
  display: flex;
  height: 49px;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.PERFIL-EDIO .frame-4 {
  display: flex;
  height: 49px;
  align-items: center;
  gap: 10px;
  padding: 19px 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--neutrals-07);
  border-radius: 4px;
  overflow: hidden;
}

.PERFIL-EDIO .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Red Hat Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutrals-03);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.PERFIL-EDIO .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.PERFIL-EDIO .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Red Hat Text-Regular", Helvetica;
  font-weight: 400;
  color: #202025;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.PERFIL-EDIO .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Red Hat Display-Bold", Helvetica;
  font-weight: 700;
  color: #202025;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.PERFIL-EDIO .frame-6 {
  display: flex;
  width: 162px;
  height: 49px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.PERFIL-EDIO .frame-7 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.PERFIL-EDIO .frame-8 {
  display: flex;
  flex-direction: column;
  width: 334px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.PERFIL-EDIO .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Red Hat Text-Medium", Helvetica;
  font-weight: 500;
  color: #202025;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.PERFIL-EDIO .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.PERFIL-EDIO .frame-10 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.PERFIL-EDIO .frame-11 {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 9px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--themes-primary);
}

.PERFIL-EDIO .text {
  position: relative;
  width: fit-content;
  font-family: "Red Hat Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutrals-02);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.PERFIL-EDIO .frame-12 {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--primary-01);
  border-radius: 9px;
  overflow: hidden;
}

.PERFIL-EDIO .text-2 {
  position: relative;
  width: fit-content;
  font-family: var(--is-h3-font-family);
  font-weight: var(--is-h3-font-weight);
  color: #202025;
  font-size: var(--is-h3-font-size);
  letter-spacing: var(--is-h3-letter-spacing);
  line-height: var(--is-h3-line-height);
  white-space: nowrap;
  font-style: var(--is-h3-font-style);
}
.popup-overlay {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.popup-overlay.active {
  display: flex;
  align-items: first baseline;
  justify-content: first baseline;
  z-index: 1;
  
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #252527;
  color: #f1f4f4;
}

.footer h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .9rem;
  font-family: var(--is-h3-font-family);
}