
body {
    margin: 0;
    line-height: normal;
}

.popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
}



.configurao-da-loja-perfil-child {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #010101;
    width: 1368px;
    height: 70px;
}
.alarm-bell-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 0;
}
.div {
    position: relative;
    font-weight: 500;
}
.wrapper {
    border-radius: 59px;
    background-color: #d0f4ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.frame-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-wrapper {
    margin: 0 !important;
    position: absolute;
    top: -3px;
    left: 14px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
}
.alarm-bell-parent {
    position: absolute;
    top: 23px;
    left: 1242px;
    width: 26.2px;
    height: 24.3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    color: #010101;
    font-family: 'Red Hat Display';
}
.horas {
    line-height: 100%;
    font-weight: 500;
}
.text-12 {
    position: relative;
}
.text-12-wrapper {
    align-self: stretch;
    border-radius: 26px;
    background-color: #d0f4ea;
    border: 1px solid #d0f4ea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}
.configurao-da-loja-perfil-inner {
    position: absolute;
    top: 17px;
    left: 1293px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 12px;
}
.keyboard-double-arrow-left-icon {
    position: absolute;
    top: 23px;
    left: 96px;
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.frame-child {
    width: 31px;
    position: relative;
    border-radius: 6px;
    height: 31px;
    object-fit: cover;
}
.rectangle-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.nav-colapsado-inner {
    width: 72px;
    background-color: #202025;
    height: 70px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 20px;
    box-sizing: border-box;
}
.grid-view-icon {
    width: 24px;
    position: relative;
    height: 24px;
}
.grid-view-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 0px;
}
.frame-item {
    align-self: stretch;
    position: relative;
    border-top: 1px solid rgba(85, 85, 85, 0.4);
    box-sizing: border-box;
    height: 1px;
}
.frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.frame-parent {
    flex: 1;
    background-color: #202025;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 56px 24px 32px;
}
.nav-colapsado {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.image-4-icon {
    width: 375px;
    position: relative;
    height: 236px;
    object-fit: cover;
}
.group-child {
    position: absolute;
    top: 0px;
    left: calc(50% - 51.5px);
    border-radius: 50%;
    background-color: #202025;
    width: 103px;
    height: 103px;
}
.image-5-icon {
    position: absolute;
    top: 13px;
    left: 30px;
    width: 43px;
    height: 76px;
    object-fit: cover;
}
.ellipse-parent {
    width: 103px;
    position: relative;
    height: 103px;
}
.informaes-gerais {
    position: relative;
    line-height: 160%;
    font-weight: 500;
}
.stylus-icon {
    width: 20px;
    position: relative;
    height: 20px;
}
.informaes-gerais-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.frame-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frame-child2 {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #dcdcdc;
    box-sizing: border-box;
    height: 1px;
}
.tat-sushi- {
    font-weight: 600;
}
.tat-sushi-container {
    position: relative;
    line-height: 160%;
}
.tat-sushi-tat-sushi-alimen-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}
.frame-parent1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.image-4-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 82px;
}
.categorias {
    position: relative;
    line-height: 160%;
    font-weight: 600;
}
.ateno-as-categorias {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    line-height: 160%;
    color: #77797b;
}
.categorias-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}
.leite-c-parent {
    flex: 1;
    border-radius: 4px;
    background-color: #f1f4f4;
    height: 49px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 19px 16px;
    box-sizing: border-box;
}
.frame-wrapper2 {
    width: 246px;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #555;
}
.text-121 {
    position: relative;
    line-height: 100%;
    font-weight: 500;
}
.text-12-container {
    align-self: stretch;
    border-radius: 26px;
    background-color: #d0f4ea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}
.frame-wrapper4 {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frame-wrapper3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 12px;
}
.line-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
}
.frame-wrapper7 {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 12px;
}
.frame-parent8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent7 {
    width: 323px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
}
.stylus-parent {
    border-radius: 100px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    height: 36px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    font-size: 14px;
    font-family: 'Red Hat Display';
}
.text-12-wrapper4 {
    align-self: stretch;
    border-radius: 26px;
    background-color: #f1f4f4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}
.frame-parent11 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-align: center;
    font-size: 12px;
}
.frame-parent3 {
    width: 592px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.descrio-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.o-tat-sushi {
    flex: 1;
    position: relative;
    line-height: 160%;
}
.o-tat-sushi-comandado-pelos-wrapper {
    align-self: stretch;
    flex: 1;
    border-radius: 4px;
    background-color: #f1f4f4;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 24px;
}
.frame-wrapper12 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: #555;
}
.frame-parent13 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.stylus-container {
    border-radius: 100px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    height: 36px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    font-size: 14px;
    color: #202025;
    font-family: 'Red Hat Display';
}
.segunda-sexta-das-11h00-at-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.frame-parent15 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    font-size: 12px;
    color: #555;
    font-family: Inter;
}
.frame-parent12 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.frame-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
}
.frame-div {
    position: absolute;
    top: 118px;
    left: 96px;
    border-radius: 16px;
    background-color: #fff;
    width: 1320px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 24px 48px;
    box-sizing: border-box;
    gap: 48px;
    font-size: 16px;
}
.configurao-da-loja-perfil {
    width: 100%;
    position: relative;
    background-color: #f1f4f4;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 11px;
    color: #202025;
    font-family: 'Red Hat Text';
}


.frame-child7 {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #dcdcdc;
    box-sizing: border-box;
    height: 1px;
}
.nome-da-restaurante {
    position: relative;
    line-height: 160%;
    font-weight: 500;
}
.nome-da-restaurante-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.tat-sushi-alimentos {
    position: relative;
    line-height: 160%;
}
.tat-sushi-alimentos-ltda-wrapper {
    flex: 1;
    border-radius: 4px;
    background-color: #f1f4f4;
    height: 49px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 19px 16px;
    box-sizing: border-box;
}
.frame-wrapper14 {
    align-self: stretch;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #555;
}
.frame-parent17 {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-wrapper15 {
    align-self: stretch;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frame-parent18 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.endereo {
    position: relative;
    font-size: 20px;
    line-height: 160%;
    font-family: 'Red Hat Display';
}
.frame-wrapper16 {
    width: 162px;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.rua {
    align-self: stretch;
    position: relative;
    line-height: 160%;
    font-weight: 500;
}
.frame-wrapper17 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-parent21 {
    width: 334px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent22 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent20 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.text-83 {
    position: relative;
}
.text-8-wrapper {
    flex: 1;
    border-radius: 9px;
    border: 1px solid #7ed957;
    box-sizing: border-box;
    height: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
}
.text-8-container {
    flex: 1;
    border-radius: 9px;
    background-color: #7ed957;
    height: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    box-sizing: border-box;
    cursor: pointer;
}
.frame-parent26 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 14px;
    font-family: 'Red Hat Display';
}
.frame-parent16 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    font-size: 16px;
    font-family: 'Red Hat Text';
}
.informaes-gerais-group {
    position: absolute;
    top: calc(50% - 369px);
    left: calc(50% - 282px);
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px;
    gap: 24px;
}
.perfil-edio {
    width: 1340px;
    position: relative;
    height: 1024px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: left;
    font-size: 24px;
    color: #202025;
    font-family: 'Red Hat Display';
}


